@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "Netflix Sans";
  src: url("/fonts/NetflixSans.woff2") format("woff2"),
    url("/fonts/NetflixSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Netflix Sans", Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
}

/* Footer text styling */
.footer-text {
  font-size: 0.65rem;
}
.hero-video {
  willchange: "transform";
  transform: "translateZ(0)";
}
